# API Config
PORT=3000
API_SECRET=mi_secret_para_jwt

# SQL Server Config
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrongPassword
SQLSERVER_SERVER=localhost
SQLSERVER_DATABASE=SeguridadDB

# Logging
LOG_LEVEL=info 